body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f5f5f5;
  padding: 20px;
}

.board {
  width: 420px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  margin: 20px auto;
}

.card {
  width: 90px;
  height: 90px;
  background: #333;
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
  transform: rotateY(180deg);
  transition: transform 0.4s;
}

.card.revealed {
  background: #07dd0e;
  transform: rotateY(0deg);
}

.card.matched {
  background: #00eeff;
  cursor: default;
}

.info {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 20px;
}

button {
  padding: 8px 15px;
  cursor: pointer;
  border: none;
  background: #a81414;
  color: rgb(10, 213, 228);
  border-radius: 5px;
}
